/* https://fonts.google.com/specimen/Pacifico */
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: url(./Pacifico-Regular.ttf) format("truetype");
}

:root {
  --bg-gradient: linear-gradient(
    in oklab,
    rgb(16% 16% 16%) 0%,
    rgb(5% 5% 5%) 100%
  );
}

html {
  min-height: 100%;
  background: rgb(20, 20, 20);
  color: lightgray;
  font-family: monospace;
  padding: 0;
  background: var(--bg-gradient);
  font-size: 16px;
}

body {
  max-width: 800px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: Pacifico;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: lime;
  text-shadow: 0px 0px 12px rgba(0, 255, 0, 1);
}

h2 {
  width: fit-content;
  color: aquamarine;
  border-bottom: 2px solid aquamarine;
  text-shadow: 0px 0px 12px rgba(127, 255, 212, 1);
}

.beaver-logo {
  width: 3em;
  transition: transform 0.7s;
}

.beaver-logo:hover {
  transform: rotate(45deg);
}

p {
  text-align: justify;
  line-height: 150%;
}

a {
  color: black;
  background-color: lightgray;
  padding-left: 2px;
  padding-right: 2px;
}

.time {
  font-size: x-small;
}

video {
  max-width: 800px;
}

a.no-underline {
  text-decoration: none;
  padding-left: 0;
  padding-right: 0;
}

li {
  margin-bottom: 0.5em;
}

#servo-iroh-logos {
  display: flex;
  gap: 1em;
  font-size: x-large;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

#servo-iroh-logos img {
  height: 2rem;
}
