html {
  background: rgb(20, 20, 20);
  color: gray;
  font-family: monospace;
  padding: 0.5em;
}

/* https://fonts.google.com/specimen/Pacifico */
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: url(./Pacifico-Regular.ttf) format("truetype");
}

body {
    max-width: 800px;
}

h1 {
  font-family: Pacifico;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: lime;
  text-shadow: 0px 0px 24px rgba(0,255,0,1);
}

h2 {
  width: fit-content;
  color: aquamarine;
  border-bottom: 2px solid aquamarine;
    text-shadow: 0px 0px 24px rgba(127,255,212,1);

}

.logo {
  width: 3em;
}

p {
  text-align: justify;
  line-height: 150%;
  font-size: larger;
}

a {
  color: white;
}
