/* https://fonts.google.com/specimen/Pacifico */
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: url(./Pacifico-Regular.ttf) format("truetype");
}

:root {
  --bg-gradient: linear-gradient(
    in oklab,
    rgb(16% 16% 16%) 0%,
    rgb(5% 5% 5%) 100%
  );
}

html {
  height: 100%;
  background: rgb(20, 20, 20);
  color: gray;
  font-family: monospace;
  padding: 0;
  background: var(--bg-gradient);
}

body {
  max-width: 800px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: Pacifico;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: lime;
  text-shadow: 0px 0px 12px rgba(0, 255, 0, 1);
}

h2 {
  width: fit-content;
  color: aquamarine;
  border-bottom: 2px solid aquamarine;
  text-shadow: 0px 0px 12px rgba(127, 255, 212, 1);
}

.logo {
  width: 3em;
}

p {
  text-align: justify;
  line-height: 150%;
  font-size: larger;
}

a {
  color: white;
}
